<table>
  <% posts.each do |post| %>
    <tr>
      <td><a href="/posts/edit?id=<%= post.id %>"><%= post.title %></a></td>
      <td><a href="/posts/delete?id=<%= post.id %>">Delete</a></td>
    </tr>
  <% end %>
</table>

<a href="/posts/new">Create new</a>
